<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="assets/style.css">
</head>

<body>
  <%- include ('partials/nav.ejs') -%>
  <h1>Welcome to Contact page</h1>
  <p>Thanking you for using are services..</p>
  <!-- <p><%= qs.person %></p> -->

  <form id="contact-form" method="POST" action="/contact">
    <label for="who">Who do you want to contact?</label><br>
    <input type="text" name="who" value="<%= qs.person %>"><br>
    <label for="department">Which department</label><br>
    <input type="text" name="department" value="<%= qs.dept %>"><br>
    <label for="email">Your Email</label><br>
    <input type="email" name="email"><br><br>
    <input type="submit" value="submit">
  </form>

</body>

</html>