<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <h1>Welcome to the Profile of <%= person %></h1>
  <p><strong>Age: </strong><%= data.age %></p>
  <p><strong>Age: </strong><%= data.job %></p>
  <h2>Hobbies</h2>
  <ul>
    <% data.hobbies.forEach(function(item){ %>
      <li><%= item %></li>
    <% }); %>
  </ul>

</body>

</html>